body {
    font-family: 'Cabin', sans-serif;
    color: #E4E5E6;
    /* background-color: #E4E5E6; */
    /*
    background-image: url("https://images.pexels.com/photos/294632/pexels-photo-294632.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: 100% 1100px;
    */
    background-image: url("https://raw.githubusercontent.com/joshuapeek/hockey-data/master/images/nhl95_1.png");
    background-repeat: repeat;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cabin', sans-serif;
    color: #F79239;
}

h1 {

}
h2 {
    font-family: 'Cabin', sans-serif;
    margin: 0;
}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #E4E5E6;
}

a {
    text-decoration: none;
    color: #C6E7FF;
    font-size: .75em;
}

.pane {
    position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333;
}

.header {
    left: 50%;
    text-align: center;
}

.name {
    width: 50%;
    display: inline-block;
    float: left;
}

.description {}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.editdeletepane {}
.creator {
  color: #4C7999;
  font-size: .75em;
}
.flash {
    background: #cee5f5;
}
.container {
  padding: 0px;
}
.authentication-row {
  color: #ffffff;
  margin-top: 15px;
  width: 100%;
  vertical-align: middle;
}
.signinButton, ::after, ::before {
	box-sizing: border-box;
	vertical-align: middle;
}
.flex-container {
  margin: 0px;
}
.flex-container .top-menu {
  margin: inherit;
  width: 50%;
  margin-top: 5px;
  padding-top: 10px;
	padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #4C7999;
  background: #C6E7FF;
  line-height: 60px;
  vertical-align: middle;
}
#top-menu {
  line-height: 60px;
  vertical-align: middle;
}
img.top-menu {
  float:right;
}
a.top-menu-link {
  color: #4C7999;
  font-size: 1em;
  line-height: 60px;
  vertical-align: middle;
}
a.disconnect {
  font-size: 1em;
}
.flex-container .top-right {
  margin: inherit;
  width: 50%;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #4C7999;
  background: #C6E7FF;
  line-height: 60px;
  vertical-align: middle;
}
#top-right {
  line-height: 60px;
  vertical-align: middle;
}
img.top-right {
  float:right;
}
a.top-right-link {
  color: #4C7999;
  font-size: 1em;
  line-height: 60px;
  vertical-align: middle;
}
.content {
  width: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background: #231F20;
  margin-bottom: 30px;
}
.index-plates {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  border-bottom-width: 3px;
  border-bottom-color: #333;
  border-bottom-style: solid;
}

ul.index-plates {
  display: -ms-flexbox;           /* IE 10 */
  display: -webkit-flex;          /* Safari 6.1+. iOS 7.1+ */
  display: flex;
  -webkit-flex-flow: wrap column; /* Safari 6.1+ */
  flex-flow: wrap column;
  max-height: 150px;              /* Limit height to whatever you need */
}

.player-table-title {
  color: #4C7999;
  font-size: 1.1em;
}
