<div class="authentication-row" align="right">
SIGN IN
</div>
<div class="row flex-container">
<div class="top-menu">
	<img height="60px" src="https://raw.githubusercontent.com/joshuapeek/hockey-data/master/images/nhl_classic.gif"> Joshua's Hockey Database &nbsp;
</div>
<div class="top-right" align="right">
	<a class="top-menu-link" href="http://google.com/"> Link </a> |
	<a class="top-menu-link" href="http://google.com/"> Link </a> |
	<a class="top-menu-link" href="http://google.com/"> Link </a> |
	<a class="top-menu-link" href="http://google.com/"> Link </a> |
	<a class="top-menu-link" href="http://google.com/"> Link </a>
</div>
</div>
