{% extends "main.html" %}
{% block content %}
</br>
<p>This function requires Sign-In.
Please authenticate using the button below.</p>
</br>

<!-- GOOGLE PLUS SIGN IN BUTTON & PROCESS -->
          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="139549136957-cvb06pip32d1grolgtgj7tdal5ikrpf6.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<div id="result"></div>
<!--END GOOGLE PLUS SIGN IN BUTTON & PROCESS -->

{% endblock %}
