{% extends "main.html" %}
{% block content %}
</br>
<p>Create, Edit and Delete functions require Sign-In.
Please authenticate using the button below.</p>
<!-- GOOGLE PLUS SIGN IN BUTTON -->
          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="139549136957-cvb06pip32d1grolgtgj7tdal5ikrpf6.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

<p>To Sign Out, <a href="/gdisconnect" class="disconnect">Click Here</a>.</p>
<p></br></p>
<a href='{{url_for('mainPage')}}'>Back to Teams</a>
<div id="result"></div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->

{% endblock %}
