<html>
  <body>
    <h1>Add New Player</h1>
    <form action='{{url_for('newPlayerPage', team_id=team_id)}}'
    method='post'>
      <p>First Name: <input type='text' size='30' name='firstName'></p>
      <p>Last Name: <input type='text' size='30' name='lastName'></p>
      <p>Position: <input type='text' size='30' name='position'></p>
      <p>Height: <input type='text' size='30' name='height'></p>
      <p>Weight: <input type='text' size='30' name='weight'></p>
      <p>Birthdate: <input type='text' size='30' name='birthdate'></p>
      <p>Birth City: <input type='text' size='30' name='birthCity'>
      <p>Birth Location: <input type='text' size='30' name='birthLocation'></p>
      <p>Birth Nation: <input type='text' size='30' name='birthNation'></p>
      <p>Bio:<input type='text' size='30' name='bio'></p>
      <p><input type='submit' value='Create'></p>
    </form>
    <a href='{{url_for('teamPage', team_id=team.id)}}'>Cancel / Back to {{ team.name }} roster</a><br>
  </body>
</html>
