<html>
  <body>
    <h1>Add New Team</h1>
    <form action='{{url_for('newTeamPage')}}' method='post'>
      <p>City: <input type='text' size='30' name='city'
        required></p>
      <p>Name: <input type='text' size='30' name='name' required></p>
      <p>Conference: </br>
        <input type='radio' name='conference' value='Eastern'
        required>Eastern</br>
        <input type='radio' name='conference' value='Western'
        required>Western</br></p>
      <p>Division: </br>
        <input type='radio' name='division' value='Atlantic'
        required>(E) Atlantic</br>
        <input type='radio' name='division' value='Metropolitan'
        required>(E) Metropolitan</br>
        <input type='radio' name='division' value='Central'
        required>(W) Central</br>
        <input type='radio' name='division' value='Pacific'
        required>(W) Pacific</br></p>
      <p><input type='submit' value='Create'></p>
    </form>
    </br>
    <a href='{{url_for('mainPage')}}'>Cancel / Back to Teams</a>
  </body>
</html>
