{% extends "main.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>{{ team.city }} {{ team.name }}</h1>
    <h2>{{ player.firstName }} {{ player.lastName }}</h2>
    <p class="creator">Created by: {{ creator.username }}</p>
    <b>Position:</b> {{ player.position }}</br>
    <b>Height:</b> {{ player.height }}</br>
    <b>Weight:</b> {{ player.weight }}</br>
    <b>Born:</b> {{ player.birthdate }} {{ player.birthCity }},
    {% if player.birthLocation != "" %} {{ player.birthLocation }}, {% endif %}
    {{ player.birthNation }}</br>
    <b>Bio:</b> {{ player.bio }}

    <br><br>
    <a href='{{url_for('deletePlayerPage',
      team_id=team.id,player_id=player.id)}}'>Delete Player</a> |
    <a href='{{url_for('editPlayerPage',
      team_id=team.id,player_id=player.id)}}'>Edit Player</a></br>
    <a href='{{url_for('teamPage',
      team_id=team.id)}}'>Back to {{ team.name }} roster</a><br>
    <a href='{{url_for('mainPage')}}'>Back to Teams</a>
{% endblock %}
