<html>
  <body>
    <h1>{{ teams.city }} {{ teams.name }}</h1>
<!--    {% for i in players %} -->
    <h3>{{ i.firstName }} {{ i.lastName }}</h3>
    <b>Position:</b> {{ i.position }}</br>
    <b>Height:</b> {{ i.height }}</br>
    <b>Weight:</b> {{ i.weight }}</br>
    <b>Born:</b> {{ i.birthdate }} {{ i.birthCity }},
<!--
    {% if i.birthLocation != "" %} {{ i.birthLocation }}, {% endif %}
    {{ i.birthNation }}</br>

    <b>Bio:</b> {{ i.bio }}
  </br></br>
{% endfor %} -->
  </body>
</html>
