{% extends "main.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h2>{{ team.city }} {{ team.name }}</h2>
    <p class="creator">Created by: {{ creator.username }}</p>
    </br>
    <p class="player-table-title">Roster:</p>
    {% for i in players %}
    <div class="index-plates">
      <b>Name:</b> {{ i.firstName }} {{ i.lastName }}<br>
      <b>Position:</b> {{ i.position }}<br>
      <a href='{{url_for('playerPage',
      team_id = team.id, player_id=i.id)}}'>View Bio</a></br>
    </div>
    {% endfor %}
  <br>
  <a href='{{url_for('mainPage')}}'>Back to Teams</a>
  <br>
  <a href='{{url_for('newPlayerPage', team_id=team.id)}}'>Add a Player</a>
{% endblock %}
