{% extends "main.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h2>Teams</h2>
    {% for i in teams %}
      <div class="index-plates">
        {{ i.city }} {{ i.name }}</br>
        • <a href="{{url_for('teamPage', team_id=i.id)}}">View Roster</a></br>
        • <a href="{{url_for('editTeamPage', team_id=i.id)}}">Edit Team</a></br>
      </div>
    {% endfor %}

  </br>
  <a href='{{url_for('newTeamPage')}}'>Add a Team</a>
{% endblock %}
